@import '../../scss/variables.scss';

.comment {
    min-height: 50px;
    padding: 10px;
    background-color: $dark2;
    border-radius: 4px;

    & + & {
        margin-top: 5px;
    }

    & & {
        border-left: 1px solid $dark1;
    }
}

.comments__container {
    margin-top: 10px;
}
