@import '../../scss/variables';

$itemWidth: 100px;
$itemHeight: 50px;

.Navbar__nav {
    height: 40px;
    border-bottom: 1px solid $light3;
    display: flex;
    background-color: $light1;
}

.Navbar__header {
    display: flex;
    height: $itemHeight;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $dark2;
}

.Navbar__item {
    color: $fontPrimary;
    text-decoration: none;
    width: $itemWidth;
    transition: all 0.1s linear;
    text-align: center;
    line-height: 40px;
    
    &:hover {
        color: $fontSecondary;
        border-bottom: 2px solid $primaryBlue; 
    }
    
    & + .Navbar__item {
        border-left: 1px solid $light3;
    }
    
}

.Navbar__item--active {
    color: $fontSecondary;
    border-bottom: 2px solid $primaryBlue;
}

.Navbar__dropdown {
    position: relative;
    cursor: pointer;

    &:hover .Navbar__dropdown__list {
        display: initial;
    }
}

.Navbar__dropdown__list {
    background: $light1;
    display: none;
    position: absolute;
    width: $itemWidth;
    bottom: -242px;
    right: 0;

    &:hover {
        display: initial;
    }
}

.Navbar__dropdown__list__item {
    display: block;
    cursor: pointer;
}
